.dim
{
  width: 1400px!important; 
   height: 600px!important;
   
}
a{text-decoration: none;}
p{font-size:30px;
color: #ffc107!important;}
.img{
    width:   407px!important; 
   height: 281px!important;
    }
    .posfooter{
        font-size:30px;
       
        }
.logo{
height: 50% !important;}